<div class="container">
    <div class="jumbotron ">
        <div class="row">
            <div class="col-sm-6">
                <app-progresso></app-progresso>
            </div>
            <div class="col-sm-6">

                <app-tentativas></app-tentativas>
                <br />
            </div>
            <div class="row">
                <br />
                <div class="col">
                    <h6>Traduza a frase</h6>
                    <br />
                    <input class="form-control form-control-lg" type="text" placeholder="Digite a Tradução"
                        aria-label=".form-control-lg example">
                </div>
            </div><br />
            <div class="row">
                <div class="col">
                    <br />
                    <div class="d-flex justify-content-end ">
                        <button type="button" class="btn btn-primary">Verificar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>